body {
  text-align: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.imgur.com/Et747RA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Courier New", Courier, monospace;
}

footer {
  position: static;
  align-content: center;
  background-color: black;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;

  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  background-color: black;
  opacity: ;
  min-height: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-inline-start: 100px;
  padding-inline-end: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

a {
    color: rgb(185 19 210);
    font-size: 18px;
    text-decoration: none;
    text-shadow: 1px 1px white;
}

a:hover {
  color: rgb(16 172 224);
}

a:active {
  color: rrgb(91 218 248);
}

.box {
  text-align: center;
  color: white;
  padding: 30px;
  width: 50%;
  height: auto;
  display: inline-grid;
  margin: 30px;
  background-color: black;
  opacity: 1;
  font-size: 24px;
  font-family: "Courier";
  text-shadow: 1px 1px 0 #057fd0;
}

.box_logo {
  max-width: 80px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.header {
    opacity: 1;
    width: 100%;
}

.soundcloud_player {
    background-color: black;
}

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */
